.stat-box {
    background-color: #ff8c00;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.stat-box .title {
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: 18px;
}

.stat-box .left {
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stat-box .right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.stat-box .right .svg-inline--fa {
    opacity: 0.9;
}
