* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 0;
}

.loading {
    height: 100vh;
    position: fixed;
    background-color: #2f4858;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.loading .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #ff8c00; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
